@import 'reset';
@import 'mixins/header';
@import 'mixins/article';
@import 'display';
@import 'mixins/navbarLeft';

header {
    padding: 1% 1% 1% 1%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    // OFFSET RIGHT
    margin-right: 15px;
}

/* 
    BANNER HEADER WITH SUB ITEM
    - BANNER TITLE
    - ICON LISTING
*/
.header {
    @include banner($font_size: 1.5rem);
}

.header_description {
    color: $color_secondary;
    text-align: justify;
}
.navbar {
    @include navbar($color: $color_primary);
}

.article {
    @include article();
}