$primary_font: "Francois One", sans-serif;
$primary_font_text: "Didact Gothic", sans-serif;



$color_primary: #e78300;
$color_secondary: #928f8f;
$black: #000;
$yellow: #ff0;
$blue: #33f;
$grey: #99a;
$magenta: #ec008c;
$grey_dark: #666;


$padding-left_article: 5px;
$padding-right_article: 5px;
$padding-bottom_article: 1em;

$post_rotate_even : -1deg;
$post_rotate_odd : 1deg;

$bg_header: #FFFFFF;