@import "../variable";

@mixin padding() {
    padding-left: $padding-left_article;
    padding-right: $padding-right_article;
}
@mixin article {
    

& {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
&__header {
    position: relative;
}

&__categoty {
    @include padding();
    font-family: $primary_font;
    font-size: 0.7em;
    color: white;
    font-style: normal;
    font-weight: 900;
    position: absolute;

    // top: -250px;
    left: 0px;
}
&__img {
    max-width: 100%;
    height: auto;
}
&__title {
    font-family: $primary_font;
    font-weight: 1000;
    font-size: 1.2em;
    color: $color_primary;
    @include padding();
}
&__title:after {
    content: '';
    background: black;
    height: 5px;
    width: 3em;
    display: block;
    margin-top: 0.2em;
}
&__body > p {
    @include padding();
    margin-bottom: 1em;
    font-size: 1em;
    font-family: $primary_font_text;

    padding-bottom: $padding-bottom_article;
}
&__body--tag {
    @include padding();
    font-family: $primary_font_text;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

}
